body {
    padding-top: 50px;
    padding-bottom: 20px;
    min-height: 100vh;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
    position: absolute;
    top: 65px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.body-content > * {
    flex-grow: 0;
}

#messageContainer {
    display: flex;
    flex-direction: column;
    padding: 0em 1em;
    margin-bottom: 2em;
    overflow: auto;
}

#messageContainer {
    flex: 1 0 200px;
}

.messageFormContainer {
    border-top: 1px solid black;
    padding-top: 1em;
    flex-shrink: 0;
    overflow: hidden;
}

.message {
    position: relative;
    padding: 0.5em;
    border-radius: 0.5em;
    margin-top: 1.5em;
    margin-bottom: 0em;
    max-width: 90%;
    width: auto;
    min-width: 15%;
}

.message:first-child {
    margin-top: 0;
}

.message.me {
    border: 2px solid #007e10;
    background: linear-gradient(white, #b3ffaa);
    box-shadow: -1px 2px 3px #BBBBBB;
    margin-left: auto;
}

.message.me::after {
    content: " ";
    width: 0;
    height: 0;
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid #007e10;
    position: absolute;
    bottom: 0.5em;
    right: calc(-0.3em - 2px);
}

.message.me + .message.me {
    margin-top: 0.25em;
}

.message.other {
    border: 2px solid #444444;
    background: linear-gradient(white, #eeeeee);
    box-shadow: 1px 2px 3px #BBBBBB;
    margin-right: auto;
}

.message.other::after {
    content: " ";
    width: 0;
    height: 0;
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
    border-right: 0.3em solid #444444;
    position: absolute;
    bottom: 0.5em;
    left: calc(-0.3em - 2px);
}

.message.other + .message.other {
    margin-top: 0.25em;
}

.message.info {
    max-width: unset;
    width: 100%;
    background-color: white;
    border: 2px solid #444444;
    text-align: center;
    font-weight: 700;
}

.message.info.error {
    background-color: #dc3545;
    color: white;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px; /* Set the fixed height of the footer here */
    line-height: 30px; /* Vertically center the text there */
    /*background-color: #bbbbbb;*/
    background: #bbbbbb; /* For browsers that do not support gradients */
    /* Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(white 5%, #bbbbbb 95%);
    /* Opera 11.1 to 12.0 */
    background: -o-linear-gradient(white 5%, #bbbbbb 95%);
    /* Firefox 3.6 to 15 */
    background: -moz-linear-gradient(white 5%, #bbbbbb 95%);
    /* Standard syntax */
    background: linear-gradient(white 5%, #bbbbbb 95%);
}

.footer p {
    margin-top: 10px;
}
