<div class="jumbotron">
    <h1>Chatbot</h1>
    <p class="lead">Talk to me.</p>
    <p>
        <input type="text" placeholder="Enter some text..." />
    </p>
</div>
<div class="row">
    <span>No previous conversation.</span>
</div>
