<div class="jumbotron">
    <h1>Chatbot</h1>
    <p class="lead">Talk to me.</p>
</div>
<div id="messageContainer" class="row">
    <span class="message info">
        @DateTime.Now.ToShortDateString()
    </span>
</div>

<div class="messageFormContainer row">
    <form method="post" id="messageForm" class="form-inline">
        <div class="input-group">
            <input type="text" id="message" class="form-control" placeholder="Enter some text..." required/>
            <span class="input-group-btn">
                <input type="submit" class="btn btn-primary" value="Submit" />
                <input type="button" class="btn" id="startRecord" value="Record"/>
                <input type="button" class="btn" id="stopRecord" disabled value="Stop"/>
            </span>
        </div>
        <div id="status"></div>
    </form>
</div>