<div class="jumbotron hidden-xs">
    <h1>Chatbot</h1>
    <p class="lead">Talk to me.</p>
</div>
<div id="messageContainer">
    <span class="message info">
        @DateTime.Now.ToShortDateString()
    </span>
</div>
<div class="messageFormContainer">
    <form method="post" id="messageForm" class="form-inline">
        <div class="input-group">
            <input type="text" id="message" class="form-control" placeholder="Enter some text..." required autocomplete="off"/>
            <span class="input-group-btn">
                <input type="submit" class="btn btn-primary" value="Submit" />
                <input type="button" class="btn" id="startRecord" value="Record" />
            </span>
        </div>
    </form>
</div>