body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.row {
    display: flex;
    flex-direction: column;
    padding: 0em 1em;
}


.message {
    position: relative;
    padding: 0.5em;
    border-radius: 0.5em;
    margin-top: 1.5em;
    margin-bottom: 0em;
    max-width: 90%;
    width: auto;
    min-width: 15%;
}

.message:first-child {
    margin-top: 0;
}

.message.me {
    border: 2px solid #007e10;
    background: linear-gradient(white, #b3ffaa);
    box-shadow: -1px 2px 3px #BBBBBB;
    margin-left: auto;
}

.message.me::after {
    content: " ";
    width: 0;
    height: 0;
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid #007e10;
    position: absolute;
    bottom: 0.5em;
    right: calc(-0.3em - 2px);
}

.message.me + .message.me {
    margin-top: 0.25em;
}

.message.other {
    border: 2px solid #555555;
    background: linear-gradient(white, #eeeeee);
    box-shadow: 1px 2px 3px #BBBBBB;
    margin-right: auto;
}

.message.other::after {
    content: " ";
    width: 0;
    height: 0;
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
    border-right: 0.3em solid #555555;
    position: absolute;
    bottom: 0.5em;
    left: calc(-0.3em - 2px);
}

.message.other + .message.other {
    margin-top: 0.25em;
}

.message.empty {
    max-width: unset;
    width: 100%;
    background-color: white;
    border: 2px solid #444444;
    text-align: center;
    font-weight: 700;
}
